@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

footer{
  flex: 1;
}

.logo-img {
  width: 100px;
  height: auto;
}