// Place all the styles related to the zoos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.siro {
  width:50px;
}

.lion {
  width:50px;
}

.evaluations img {
  width: 5%;
}